@font-face {font-family: "MuseoSansW01-900"; src: 
  url("//db.onlinewebfonts.com/t/7463bc8d2f1ad1feebddbb2c9e084f80.eot"); 
  src: url("//db.onlinewebfonts.com/t/7463bc8d2f1ad1feebddbb2c9e084f80.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/7463bc8d2f1ad1feebddbb2c9e084f80.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/7463bc8d2f1ad1feebddbb2c9e084f80.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/7463bc8d2f1ad1feebddbb2c9e084f80.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/7463bc8d2f1ad1feebddbb2c9e084f80.svg#MuseoSansW01-900") format("svg"); 
}

@font-face {font-family: "Museo Sans"; 
  src: url("//db.onlinewebfonts.com/t/62c0135163427c652ae397f327f85010.eot"); 
  src: url("//db.onlinewebfonts.com/t/62c0135163427c652ae397f327f85010.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/62c0135163427c652ae397f327f85010.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/62c0135163427c652ae397f327f85010.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/62c0135163427c652ae397f327f85010.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/62c0135163427c652ae397f327f85010.svg#Museo Sans") format("svg"); 
}

@font-face {font-family: "Museo Sans Rounded 700"; 
  src: url("//db.onlinewebfonts.com/t/470ad2519927fa4eedb66fdcd82af115.eot"); 
  src: url("//db.onlinewebfonts.com/t/470ad2519927fa4eedb66fdcd82af115.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/470ad2519927fa4eedb66fdcd82af115.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/470ad2519927fa4eedb66fdcd82af115.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/470ad2519927fa4eedb66fdcd82af115.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/470ad2519927fa4eedb66fdcd82af115.svg#Museo Sans Rounded 700") format("svg"); 
}

@font-face {
  font-family: 'fontello';
  src: url('/icon/fontello.eot?91312110');
  src: url('/icon/fontello.eot?91312110#iefix') format('embedded-opentype'),
       url('/icon/fontello.woff2?91312110') format('woff2'),
       url('/icon/fontello.woff?91312110') format('woff'),
       url('/icon/fontello.ttf?91312110') format('truetype'),
       url('/icon/fontello.svg?91312110#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-leaf:before { content: '\e800'; } /* '' */
.icon-clock:before { content: '\e801'; } /* '' */
.icon-attention:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-flight:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-chevron-right-open:before { content: '\e807'; width: 0.1px; height: 0.1px; } /* '' */

.chevron-card-footer {
  font-size: 10px;
  color: #00A2C7;
}

.chevron-button {
  padding-left: 10px;
  width: 5px;
  height: 8px;
}

.card-normal-desc-icon{
  position: relative;
  top: -2px;
  border-radius: 100%;
  color: white;
  background-color: #031839;
  font-size: 10px;
  padding: 0.2em 0.1em;
  margin-right: 10px;
}

.right-card-link {
  font-size: 16px;
}

body {
  background-color: #FAFAFA;
}


.Main-content{
  padding-top: 90px;
  margin-left: 9vw;
  margin-right: 9vw;
}

.Header-content{
  
}

.Normal-link {
  font-family: "MuseoSansW01-900";
  font-size: 13px;
  line-height: 19px;
  color: #0043B1;
  text-decoration: none;
}

h1{
  font-family: "MuseoSansW01-900";
  font-size: 60px;
  line-height: 72px;
}

h2{
  font-family: "MuseoSansW01-900";
  font-size: 30px;
  line-height: 34px;
}

h3 {
  font-family: "MuseoSansW01-900";
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-family: "MuseoSansW01-900";
  font-size: 21px;
  line-height: 26px;
}

h5{
  font-family: "MuseoSansW01-900";
  font-size: 15px;
  line-height: 24px;
}

.Body-text1{
  font-family: "Museo Sans";
  font-size: 21px;
  line-height: 30px;
}
.Body-text2{
  font-family: "Museo Sans";
  font-size: 16px;
  line-height: 24px;
}
.Body-text3{
  font-family: "Museo Sans Rounded 700";
  font-size: 14px;
  line-height: 22px;;
}

.Header-desc {
  width: 80%;
}

.Header-link {
    font-weight: 900;
    color: #0043B1;
    text-decoration: none;
}
.Header-link:hover {
  font-weight: 900;
  color: #031839;
  text-decoration: none;
}

.Card-content{
  margin-top: 38px;
  margin-bottom: 38px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}



.Card-link {
  background-color: white;
  width: 100%;
  height: 480px;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.1) ;
}

.Card-link-title {
  padding-top: 7px;
  padding-left: 28px;
  padding-right: 28px;
}

.Card-link-desc {
  padding-left: 24px;
  padding-right: 24px;
  height: 260px;
}

.Card-link-linktext {
  font-family: "MuseoSansW01-900";
  font-size: 13px;
  line-height: 19px;
  color: #0043B1;
  text-decoration: none;
}

.Card-link:hover {
  background-color: #0043B1;
  color: white;
}

.Card-link:hover .Card-link-linktext {
  color: white;
}

.Card-link-bar{
  padding-left: 35px;
  margin-top: 13px;
  padding-right: 35px;
}

.Link-bar-container {
  border-radius: 30px;
  height: 20px;
  background: rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  background: rgb(255,95,95);
  background: linear-gradient(87deg, rgba(255,95,95,1) 0%, rgba(255,246,115,1) 50%, rgba(172,255,92,1) 100%);
}

.Link-bar {
  height: 100%;
  border-radius: 30px;
}

.link-bar-icon {
  position: relative;
  left: -16px;
  top: -12px;
  border-radius: 50px;
  color: white;
  width: 40px;
  height: 40px;
  font-size: 32px;
  background-color: #031839;
  padding: 0.3em 0.3em;
}

.Card-normal {
  background-color: white;
  width: 100%;
  height: 480px;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.1) ;
}

.Card-normal-desc {
  padding-top: 4px;
  padding-left: 32px;
  padding-right: 32px;
  height: 204px;
}

.Card-normal-image {
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
}

.Card-image-source{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Card-normal-title {

  font-family: "MuseoSansW01-900";
  font-size: 15px;
  font-weight: bold;
  color: #031839;
}

.Card-normal-subtitle {
  padding-top: 6px;
  font-family: "Museo Sans Rounded 700";
  font-size: 15px;
  color: #031839;
  line-height: 24px;
  margin-bottom: 20px;
}

.Card-normal-text {
  font-family: "Museo Sans";
  font-size: 13px;
  color: #031839;
  line-height: 24px;
}

.Card-normal-bar{
  margin-top: 13px;
  width: 100%;
  margin-bottom: 20px;
}

.Bar-container {
  border-radius: 30px;
  height: 5px;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  display: -webkit-box;
}

.Bar {
  width: 85%;
  height: 5px;
  border-radius: 30px;
  background-color: #5DAF50;  
}

.Bar.b100 {
  background-color: #39a33e;
}

.Bar.b85 {
  background-color: #94c746;
}

.Bar.b65 {
  background-color: #9fa339;
}

.Bar.b50 {
  background-color: #ffce5c;
}

.Bar.b30 {
  background-color: #ff834a;
}

.Bar.b15{
  background-color: #f74a3e;
}

.Card-normal.outlined {
  box-shadow: 0px 0px 10px 6px rgba(34, 99, 37, 0.8) ;
}


.bar-icon {
  position: relative;
  left: -16px;
  top: -12px;
  border-radius: 10em;
  color: white;
  background-color: #175728;
  font-size: 8px;
  padding: 0.3em 0.3em;
}

.modal-desc {
  color: red;
  position: relative;
  opacity:1;
}

.modal-desc-hidden { 
  color: red;
  opacity:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s; 
}

.bar-icon.b100 {
  background-color: #226325;
}

.bar-icon.b85 {
  background-color: #61852a;
}

.bar-icon.b65 {
  background-color: #696b25;
}

.bar-icon.b50 {
  background-color: #9e7f37;
}

.bar-icon.b30 {
  background-color: #ad5932;
}

.bar-icon.b15{
  background-color: #9c2f27;
}


.Card-normal-footer {
  height: 36px;
  border-top: 1px solid rgba(3, 24, 57, 0.1);
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  bottom: 0;
}

.Card-normal-footer:hover {
  background-color: #0043B1;
  color: white;
}

.Card-normal-footer:hover .chevron-card-footer {
  color: white; 
}

.tooltiptext {
  visibility: hidden;
  font-family: "Museo Sans";
  font-size: 13px;
  width: 248px;
  background-color: rgba(0,0,0,0.9);
  color: #FFFFFF;
  text-align: center;
  border-radius: 0px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -140px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0,0,0,0.9) transparent transparent transparent;
}

.Modules-container{
 
}

.Module-body {
  outline: 1px solid rgba(3, 24, 57, 0.1);
  height: 100%;
  float: left;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.Module-image {
  height: 222px;
  width: 39%;
  float: left;
  margin-right: 6vw;
  overflow: hidden;
}


.Module-image-source{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Module-desc {
  float: left;
  width: 49%;
  margin-top: -15px;
}

.Module-desc-title {
  margin-bottom: -23px;
}

.Module-desc-text {
  margin-bottom: 26px;
}

.Module-desc-button-content {
  height: 50px;
  text-align: center;
  padding-left:30px;
  padding-right:30px;
  background-color: #003790;
  font-family: "MuseoSansW01-900";
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  outline: none;
  border: 0px;
}

.Module-desc-button-content:hover {
  background-color: #031839;
}

.Button-content-arrow {
  width: 5px;
  height: 8px;
}


.modal-closed {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-showed {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.Modal-image-container {
  width: 100%;
  height: 400px;
}

.Modal-desc-text{
  padding-top: 20px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 90px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-text-content{
  position: relative;
  top: -47px;
}

.modal-text-content-price {
  float: left;
}

.modal-showed.Body-text2{
  position: relative;
  top: -30px;
  background-color: #fefefe;
}

.Notfound-container {
  width: 100%;
  position: fixed;
  top: 30%;
  height: 800px;
  text-align: center;
}

.Notfound-link{
    font-weight: 900;
    color: #0043B1;
    text-decoration: none;
}

.Notfound-link:hover{
  font-weight: 900;
  color: #031839;
  text-decoration: none;
}

.Footer-link {
  text-decoration: none;
  color: #031839;
}


@media screen and (max-width: 1340px) {
  .Card-content {
    grid-template-columns: repeat(2, 1fr);
  }

  
}

@media screen and (max-width: 1025px) {

}

@media screen and (max-width: 1140px) {
  .Modal-image-container {
    width: 100%;
    height: 300px;
  }
}



@media screen and (max-width: 900px) {
  .Card-content {
    grid-template-columns: repeat(1, 1fr);
  }


  .Modal-image-container {
    width: 100%;
    height: 230px;
  }
}

@media screen and (max-width: 810px){
  .Module-image {
    width: 100%
  }
  .Module-desc {
    width: 100%;
  }
}

@media screen and (max-width: 670px){
  .Modal-image-container {
    width: 100%;
    height: 180px;
  }
}

@media screen and (max-width: 510px) {
  .Modal-image-container {
    width: 100%;
    height: 140px;
  }

  .modal-text-content-price {
    float: none;
  }
  
}

@media screen and (min-width: 1660px) {
  .Card-content {
    grid-template-columns: repeat(4, 1fr);
  }

  .Modal-image-container {
    width: 100%;
    height: 520px;
  }
}