.Routedesc-header{
    padding-top: 120px;
    padding-left: 9vw;
    padding-right: 9vw;
    padding-bottom: 4vw;
    background-color: #FAFAFA;
    border-bottom: 5px solid #031839;
}

.Routedesc-header-title{
    margin-bottom: -20px;
}

.Routedesc-header-subtitle {
    width: 70%;
    margin-bottom: 20px;
}

.Button-blue {
    height: 50px;
    text-align: center;
    padding-left:30px;
    padding-right:30px;
    background-color: #003790;
    font-family: "MuseoSansW01-900";
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
    outline: none;
    border: 0px;
}

.Button-blue:hover {
    background-color: #031839;
}

.Routedesc-subtitle {
    
}

.Routedesc-body{
    padding-top: 5vw;
    padding-left: 9vw;
    padding-right: 9vw;
    padding-bottom: 5vw;
    background-color: #FFFFFF;
    display: grid;
    grid-gap: 8rem;
    grid-template-columns: 3fr 1fr;
}

.Routedesc-body-about{
    margin-bottom: 100px;
}

.Location-item-title {
    color: #003790;
    font-weight: bolder;
    margin-bottom: -10px;
}

.Location-item-subtitle {
    margin-bottom: -10px;
}

.Routedesc-body-right {
    margin-top: -150px;
}

.Routedesc-body-card {
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 30px;
    width: 280px;
    height: 370px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) ;
}

.Routedesc-body-card-image {
    height: 210px;
    margin-bottom: 15px;
}

.Routedesc-body-card-image-source {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.Routedesc-body-card-subtitle {
    height: 110px;
    margin-bottom: 10px;
}

.Routedesc-location-item{
    margin-bottom: 40px;
}

.modal-form {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}


.Modal-form-desc-text{
    padding-top: 20px;
  }

.modal-form-content {
    background-color: #fefefe;
    margin: 90px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 3px solid #031839;
    width: 65%; /* Could be more or less, depending on screen size */
}

.Modal-form-desc-section-title {
    display: inline-block;
}
.Modal-form-desc-section-subtitle {
    margin-top: -26px;
}

.Input-group {
    width: 100%;
    margin-bottom: 20px;
}

.Input-label-div {
    width: 300px;
    float: left;
}

.Span-divider {
    width: 50px;
}

.Input-group .Input-text {
    width: 410px;
    height: 28px;
    border-radius: 3px;
    border: 2px solid rgba(3, 24, 57, 0.2);
    font-family: "Museo Sans";
    font-size: 16px;
}

.Input-group .Input-text:focus{
    outline: 2px inset #031839;
}

.Input-error-text {
    color: #f52222
}

.Button-submit {
    
}

@media screen and (max-width: 900px){
    .Routedesc-header{
        height: 430px;
    }

    .Routedesc-header-subtitle {
        width: 100%;
    }

    .Routedesc-button-park-reserve {
        text-align: center;
    }

    .Routedesc-body {
        display:flex;
        flex-direction: column-reverse;
    }

    .Routedesc-body-right {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 743px) {
    .Routedesc-header{
        height: 470px;
    }
}

@media screen and (max-width: 635px) {
    .Input-group .Input-text {
        width: 310px;
    }
}

@media screen and (max-width: 600px) {
    .Routedesc-header{
        height: 520px;
    }
}

@media screen and (max-width: 530px) {
    .Routedesc-header{
        height: 550px;
    }
}

@media screen and (max-width: 490px) {
    .Input-group .Input-text {
        width: 250px;
    }
}

@media screen and (max-width: 450px) {
    .Routedesc-header{
        height: 580px;
    }
}
